{{ define "resume" }}
<div id="resume_container" class="object-scale-down">
  <h1 class="p-6"> current resume 
      <a href="/static/jshoemaker_resume_2023_07.pdf" target="_blank">
        <div class="btn btn-primary">view cv</div>
      </a>
  </h1>

  <ul>
  {{ range .Jobs }}
    <li>
      <div class="card w-96 bg-primary text-primary-content my-2">
        <div class="card-body">
        <h2 class="card-title"> {{ .JobTitle }}</h2>
        <h4> {{ .Company }}</h4>
        <h4> {{ .TimeLine }}</h4>
          <div class="card-actions justify-end ">
            <ul>
              {{ range .JobSkills }}
                <li> {{ . }} </li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
    <li>
  {{ end }}
  </ul>
</div>
{{ end }}


