{{define "index"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>jake shoemaker</title>
    <meta charset="UTF-8"/>    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'> 
    <link rel=stylesheet href="/static/styles.css"/>
    <script src="/static/htmx.min.js"></script>
</head>
<body hx-boost="true" class="bg-zinc-800">

<header>
    <nav class="flex items-center justify-between p-6 container mx-auto">
        <!-- logo? -->
        <!-- menu -->
        <!-- buttons -->
        
        <h1 class="text-xl/[28px] -200">
            <b>$</b> jake shoemaker
        </h1>
                
        <div class="flex items-center">
            <div class="mr-5 lg:mr-0">
                <button class="py-2 px-6 bg-stone-900 hover:bg-rose-700 rounded-md text-neutral-200 text-lg">about me</button>
                <button class="py-2 px-6 bg-stone-900 hover:bg-rose-800 rounded-md text-neutral-200 text-lg">projects</button>
                <button class="py-2 px-6 bg-stone-900 hover:bg-rose-900 rounded-md text-neutral-200 text-lg">resume</button>
            </div>
        </div>
    </nav>
</header>
<section>
    <h1>its my personal site!! running via go & htmx waddup ballers</h1>
        <p> its ya boi -> {{ .Name }} </p> 
        <h4> i swear, im not {{ .Age }} </h4>
</section>
</body>
</html>
{{end}}
