{{define "index"}}
<!DOCTYPE html>
<html lang="en" id="root" class="dark">
<head>
    <title>jake shoemaker</title>
    <meta charset="UTF-8"/>    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'> 
    <link rel=stylesheet href="/static/styles.css"/>
    <script src="/static/htmx.min.js"></script>
    <script src="/static/theme.js"></script>
    <script>
        const html = document.getElementById("root");
        if (!{{.DarkMode}}) {
            html.classList.add('dark');
        }
    </script>
    </head>
<body id="iamgroot" hx-boost="true" class="bg-stone-200 dark:bg-zinc-800">
<header>
    <nav class="flex items-center justify-between p-6 container mx-auto">
        <!-- logo? -->
        <!-- menu -->
        <!-- buttons -->
        
        <h1 class="text-xl/[28px] text-zinc-950 dark:text-neutral-200">
            <b>$</b> jake shoemaker
        </h1>
                
        <div class="flex items-center">
            <div class="mr-5 lg:mr-0">
                <button class="py-2 px-6 bg-indigo-600 dark:bg-stone-900 hover:bg-rose-700 rounded-md text-neutral-200 text-lg">about me</button>
                <button class="py-2 px-6 bg-indigo-600 dark:bg-stone-900 hover:bg-rose-800 rounded-md text-neutral-200 text-lg">projects</button>
                <button class="py-2 px-6 bg-indigo-600 dark:bg-stone-900 hover:bg-rose-900 rounded-md text-neutral-200 text-lg">resume</button> 
            </div>
        </div>
    </nav>
</header>
<section>
    <h1 class='text-zinc-950 dark:text-neutral-200'>its my personal site!! running via go & htmx waddup ballers</h1>
    <div className='dark:bg-gray-800 bg-white/50 flex items-center justify-center h-screen' >
                <!--<h1 className='dark:text-gray-100 text-gray-900 text-xl p-2'>{(isDarkTheme) ? "Make it light" : "Make it dark"}</h1>-->
    <button hx-get="/theme/icon/{{.OppositeTheme}}"
            hx-target="#iamgroot"
            id="theme-toggle" 
            type="button" 
            onclick="toggle_theme({{.DarkMode}})"
            class='dark:text-gray-300 border-gray-300 text-gray-800 border-gray-500 border-2 rounded-lg text-sm p-2'>
            
            <div id="svg_container">
            {{ if .DarkMode }}
                {{template "theme_icon_light"}}
            {{ else }}
                {{template "theme_icon_dark"}}
            {{ end }}
            </div>
    </button>
</div>

            <h5 class='text-zinc-950 dark:text-neutral-200'>
        isDark: {{ .DarkMode }} <br/> opposite: {{ .OppositeTheme }}
    </h5>
</section>
</body>
</html>
{{end}}
