{{define "index"}}
<html>
<head>
    <title>todo</title>
    <meta charset="UTF-8"/>
    <script src="/static/htmx.min.js"></script>
    <link rel=stylesheet href="/static/styles.css"/>
</head>
<body hx-boost="true">
<section>
    <h1>its my personal site!! running via go & htmx waddup ballers</h1>
</section>
</body>
</html>
{{end}}
